.table th,   .table td {
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid rgba(135, 150, 165, 0.1);
}
#th1[_ngcontent-yel-c15] {
    color: black;
   
}
th.mat-header-cell {
    text-align: left;
    font-size: 12px;
    color: black;
}