i.mr-2.i-con.i-con-minus {
    height: 20px;
    width: 20px;
    border: 2px solid #ddd;
    border-radius:20px;
   
    color:#ddd;
}

.task-button
{
    position: absolute; right: 0px; top:10%;
}

p.task-items {
    padding: 5px 20px;
    color: #86868d;
    font-family: inherit;
    line-height: 20px;
    font-size: 13px;
}