<div class="d-flex flex-column flex">
        <div>
            <div class="pt-3 p-md-6 d-flex justify-content-center">
                <div class="card p-0 col-lg-3">
                    <div class="row no-gutters">
                        <div class="col-md-12" id="content-body">
                            <div class="p-4 d-flex flex-column">
                                <div class="d-flex flex align-items-center justify-content-center">
                                    <div class="animate pt-5 fadeIn">
                                        <h4 class="mb-3 text-black">Nowgray.com</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4">
                                <form [formGroup]="resetPwdFrm">
                                    <input type="hidden" class="form-control" formControlName="email">
                                    <div class="form-group">
                                        <label class="required">Old Password</label>
                                        <input type="password" name="password" formControlName="old_Password"
                                            class="form-control" placeholder="Old Password">
                                    </div>
                                    <div class="form-group">
                                        <label class="required">New Password</label>
                                        <input type="password" name="password" formControlName="password"
                                            class="form-control" placeholder="New Password">
                                    </div>
                                    <div class="form-group">
                                        <label class="required">Confirm New Password</label>
                                        <input type="password" name="cnfpassword" formControlName="confirmPassword"
                                            class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <button type="submit" class="btn center w-sm mb-1 btn-primary"
                                            (click)="resetPwd();">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
