table {
    width: 100%;
  }
  #th1[_ngcontent-yel-c15] {
    color: black;
   
}
@media (min-width: 768px){
    .col-sm-offset-2 {
        margin-left: 50.666667%;
    }}
  
    .modal-dialog {
        
        background-color: white;
    }
    .table th,   .table td {
        padding: 5px;
        vertical-align: middle;
        // line-height: 40px;
    }
    .mat-sort-header-container {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-top: -30px;
    }
    .toolbar {
  
        // display: -ms-flexbox;
        display: -webkit-box !important;
    }
    th.mat-header-cell {
        text-align: left;
        font-size: 14px;
        color: black;
    }
    .item-except{
        margin-top: 10px;
    }