<div class="p-2 doNotPrint b-b">
  <div class="row">
    <button (click)="AddInvoice()" style="    height: 33px;
        margin: 21px;
    " class="btn btn-primary" data-toggle="modal" data-target="#open-model" title="" id="btn-trash"
      data-original-title="Trash">
      <a>Add Invoice</a>
    </button>
    <div class="col-md-2">
      <small class="text-muted">Month</small>
      <ng-select [(ngModel)]="month" #ctrl="ngModel">
        <ng-option [value]='-1'>All</ng-option>
        <ng-option value='1'>Janaury</ng-option>
        <ng-option value='2'>February</ng-option>
        <ng-option value='3'>March</ng-option>
        <ng-option value='4'>April</ng-option>
        <ng-option value='5'>May</ng-option>
        <ng-option value='6'>June</ng-option>
        <ng-option value='7'>July</ng-option>
        <ng-option value='8'>August</ng-option>
        <ng-option value='9'>September</ng-option>
        <ng-option value='10'>October</ng-option>
        <ng-option value='11'>November</ng-option>
        <ng-option value='12'>December</ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <small class="text-muted">Year</small>
      <ng-select [(ngModel)]="year" #ctrl="ngModel">
        <ng-option [value]="0"> All </ng-option>
        <ng-option value="2016">2016-17</ng-option>
        <ng-option value="2017">2017-18</ng-option>
        <ng-option value="2018">2018-19</ng-option>
        <ng-option value="2019">2019-20</ng-option>
        <ng-option value="2020">2020-21</ng-option>
        <ng-option value="2021">2021-22</ng-option>
        <ng-option value="2022">2022-23</ng-option>
      </ng-select>
    </div>
    <div class="col-2">
      <small class="text-muted">Client Name</small>
      <ng-select class="col-sm-12" [(ngModel)]="clientId">
        <ng-option ng-selected [value]='0'>--Select Client--</ng-option>
        <ng-option *ngFor="let obj of clients" [value]="obj.client_Id">
          {{ obj.name}}</ng-option>
      </ng-select>
    </div>
    <div class="col-md-1">
      <input type="button" class="btn btn-sm btn-primary" style="margin-top: 21px;" value="Filter"
        (click)="getinvoice()">
    </div>

    <div class="col-2">
      <button style="margin-top: 21px;" class="btn btn-sm btn-warning d-block" (click)="clearFilter()">Clear
        Filter</button>
    </div>



    <span class="float-right pt-2">
      <input class="form-control col-4" style="position: absolute; right: 0;top: 18px; " placeholder="Filter Data"
        type="text" (keyup)="applyFilter($event.target.value)">

    </span>
  </div>
</div>

<div class="card m-3">
  <div class="mat-elevation-z888">
    <table class="table" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Name </th>
        <td mat-cell *matCellDef="let element">{{element.clientName}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="invoiceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceDate | date:'MMM d, y, h:mm a'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>Total: </b></td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount </th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{ getSum() | currency: "INR" }}</b></td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
        <td mat-cell *matCellDef="let element"> {{element.currency }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="isProcessed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>isProcessed</th>
        <td mat-cell *matCellDef="let element">{{element.isProcessed }}</td>

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="conversionRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ConversionRate</th>
        <td mat-cell *matCellDef="let element">{{element.conversionRate }}</td>

        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <span class="action-mat-btn">
            <button class="btn btn-success btn-icon btn-sm " (click)="editinvoice(element.invoiceNumber)" rel="tooltip"
              type="button" data-original-title="" title=""><i class="i-con i-con-Edit"></i></button>
            &nbsp;
            <button class="btn btn-danger btn-icon btn-sm " (click)="deleteTransaction(element.invoiceNumber)"
              rel="tooltip" type="button" data-original-title="" title=""><i
                class="i-con i-con-trash"><i></i></i></button>
          </span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>


</div>




<div id="#open-model" class="modal" data-backdrop="true" style="display: block; ; background:   #0000008c;"
  *ngIf="ModalOpen" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Invoice</h5>
      </div>
      <form class="kt-form kt-form--label-right" [formGroup]="invoiceForm">
        <div class="modal-body p-lg">
          <div class="kt-portlet__body" style="padding-left: 40px; padding-right: 40px;">
            <div class="row mb-2">
              <div class="col-12">
                <!-- <h5>Invoices</h5> -->
              </div>
            </div>
            <div class="row mb-2">
              <!-- <div class="col-6">
                  <label><small>Invoice Number</small></label>
                  <input class="form-control" type="text" formControlName='invoiceNumber'
                    [ngClass]="{ 'is-invalid': submitted && finvoice.invoiceNumber.errors }">
                  <div *ngIf="submitted && finvoice.invoiceNumber.errors" class="invalid-feedback">
                    <div *ngIf="finvoice.invoiceNumber.errors.required">Invoice Number
                    </div>
                  </div>
                </div> -->
              <div class="col-6">
                <small>Client Name<span class="text-danger">*</span></small>
                <div class="my-2">
                  <ng-select formControlName="client_Id"
                    [ngClass]="{ 'is-invalid': submitted && finvoice.client_Id.errors }">
                    <ng-option *ngFor="let obj of clients" value="{{ obj.client_Id }}">
                      {{ obj.name}}</ng-option>
                  </ng-select>
                  <div *ngIf="submitted && finvoice.client_Id.errors" class="invalid-feedback">
                    <div *ngIf="finvoice.client_Id.errors.required">Client Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <small>Amount<span class="text-danger">*</span></small>
                <div class="my-2">
                  <input class="form-control" type="number" formControlName='totalAmount'
                    [ngClass]="{ 'is-invalid': submitted && finvoice.totalAmount.errors }">
                  <div *ngIf="submitted && finvoice.totalAmount.errors" class="invalid-feedback">
                    <div *ngIf="finvoice.totalAmount.errors.required">Total Amount is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <small>Invoices Date<span class="text-danger">*</span></small>
                <div class="my-2">
                  <input class="form-control" type="datetime-local" formControlName='invoiceDate'
                    [ngClass]="{ 'is-invalid': submitted && finvoice.invoiceDate.errors }">
                  <div *ngIf="submitted && finvoice.invoiceDate.errors" class="invalid-feedback">
                    <div *ngIf="finvoice.invoiceDate.errors.required">Invoices Date is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <small>Currency</small>
                <ng-select formControlName='currency'>
                  <!-- <option value="">--Select--</option> -->
                  <ng-option *ngFor="let contry of currency" value="{{contry.lookup_Value}}">
                    {{contry.lookup_Name}}
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-6">
                <small>Conversion Rate</small>
                <div class="my-2">
                  <input class="form-control" type="text" formControlName='conversionRate'
                    [ngClass]="{ 'is-invalid': submitted && finvoice.conversionRate.errors }">
                  <div *ngIf="submitted && finvoice.conversionRate.errors" class="invalid-feedback">
                    <div *ngIf="finvoice.conversionRate.errors.required">Conversion Rate
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-6">
                  <small>Invoice File</small>
                  <div class="my-2">
                    <input type="file" formControlName='attachment' (change)="onFileSelect(fileInput)" #fileInput>
                   <input id="inputGroupFile04" formControlName='attachment' (change)="handleInputChange($event)" type="file"  />
                    <img class="images" *ngIf="imageSrc" [src]="imageSrc"  style="width: 76px;"/>
                    <img *ngIf="imgUrl" [src]="imgUrl" style="width: 76px;"/> 
                  </div>
                </div> -->
              <div class="col-6">
                <small>Is Processed</small>
                <div class="my-1">
                  <input type="checkbox" formControlName='isProcessed'>
                </div>
              </div>
              <div class="col-12">
                <small>Remark</small>
                <div class="my-2">
                  <textarea class="form-control" formControlName="remarks"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" (click)="cancel()">
            Cancel
          </button>
          <input type="submit" (click)="saveInvoice()" class="btn btn-success" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>