.th{
    background-color: lightgray;
    
}
.cursor{
    cursor: pointer;
    font-weight: 600;
}

.modal-dialog {
    color: #3a3a3a;
    font-size: 12px;
  }
  .col-form-label {
    color: #363636 !important;
}
.table td {
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid rgba(135, 150, 165, 0.1);
}
.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: -30px;
}
.table th, .table td {
    padding: 5px;
    vertical-align: middle;
    // line-height: 40px;
}
#th1[_ngcontent-yel-c15] {
    color: black;
   
}
th.mat-header-cell {
    text-align: left;
    font-size: 14px;
    color: black;
}